<inoby-auth-layout title="Register">
  <inoby-auth-card>
    <form [formGroup]="form" (submit)="handleLogin($event)">
      <inoby-form-errors></inoby-form-errors>
      <ion-list>
        <ion-item fill="outline" [ngClass]="formErrors.invalidClass('email') | async">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required formControlName="email"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("email") | async }}</ion-note>
        </ion-item>
        <ion-item fill="outline" class="ion-margin-top" [ngClass]="formErrors.invalidClass('name') | async">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required formControlName="name"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("name") | async }}</ion-note>
        </ion-item>
        <ion-item fill="outline" class="ion-margin-top" [ngClass]="formErrors.invalidClass('password') | async">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("password") | async }}</ion-note>
        </ion-item>
        <ion-item fill="outline" class="ion-margin-top" [ngClass]="formErrors.invalidClass('password_confirmation') | async">
          <ion-label position="floating">Password confirmation</ion-label>
          <ion-input type="password" required formControlName="password_confirmation"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("password_confirmation") | async }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" class="ion-margin-top">Sign Up</ion-button>
      <div class="ion-text-center ion-padding-top">
        <a [routerLink]="['/login']" class="register">Already have an account?</a>
      </div>
    </form>
  </inoby-auth-card>
</inoby-auth-layout>
