<inoby-auth-layout title="Reset password">
  <inoby-auth-card title="New password" subtitle="Enter new password for your account">
    <form [formGroup]="form" (submit)="handleReset($event)">
      <inoby-form-errors></inoby-form-errors>
      <ion-list>
        <ion-item fill="outline" class="ion-margin-bottom" [ngClass]="formErrors.invalidClass('password') | async">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("password") | async }}</ion-note>
        </ion-item>
        <ion-item fill="outline" [ngClass]="formErrors.invalidClass('password_confirmation') | async">
          <ion-label position="floating">Password confirmation</ion-label>
          <ion-input type="password" required formControlName="password_confirmation"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("password_confirmation") | async }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" class="ion-margin-top">Reset password</ion-button>
      <div class="ion-text-center ion-padding-top">
        <a [routerLink]="['/register']" class="register">Don't have an account yet?</a>
      </div>
    </form>
  </inoby-auth-card>
</inoby-auth-layout>
