<inoby-auth-layout title="Reset password">
  <inoby-auth-card title="Verification" [subtitle]="subtitle()">
    <form [formGroup]="form" (submit)="handleSubmit($event)">
      <inoby-form-errors></inoby-form-errors>
      <ion-list>
        <ion-item fill="outline" [ngClass]="formErrors.invalidClass('code') | async">
          <ion-label position="stacked">Verification code</ion-label>
          <ion-input type="text" formControlName="code" placeholder="xxxxxx"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("code") | async }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" class="ion-margin-top">Check code</ion-button>
      <div class="ion-text-center ion-padding-top">
        <a [routerLink]="['/register']" class="register">Don't have an account yet?</a>
      </div>
    </form>
  </inoby-auth-card>
</inoby-auth-layout>
