<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (submit)="handleSubmit($event)" class="ion-padding">
    <inoby-form-errors></inoby-form-errors>
    <ion-list>
      <ion-item fill="outline" class="ion-margin-bottom" [ngClass]="formErrors.invalidClass('old_password') | async">
        <ion-label position="floating">Current assword</ion-label>
        <ion-input type="password" required formControlName="old_password"></ion-input>
        <ion-note slot="error">{{ formErrors.controlError("old_password") | async }}</ion-note>
      </ion-item>
      <ion-item fill="outline" class="ion-margin-bottom" [ngClass]="formErrors.invalidClass('password') | async">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required formControlName="password"></ion-input>
        <ion-note slot="error">{{ formErrors.controlError("password") | async }}</ion-note>
      </ion-item>
      <ion-item fill="outline" [ngClass]="formErrors.invalidClass('password_confirmation') | async">
        <ion-label position="floating">Password confirmation</ion-label>
        <ion-input type="password" required formControlName="password_confirmation"></ion-input>
        <ion-note slot="error">{{ formErrors.controlError("password_confirmation") | async }}</ion-note>
      </ion-item>
      <ion-button type="submit" expand="block" class="ion-margin-top">Change password</ion-button>
    </ion-list>
  </form>
</ion-content>
