<inoby-auth-layout title="Reset password">
  <inoby-auth-card title="Forgot password?" subtitle="Enter your email address and we will email you the instructions on how to reset the password">
    <form [formGroup]="form" (submit)="handleReset($event)">
      <inoby-form-errors></inoby-form-errors>
      <ion-list>
        <ion-item fill="outline" [ngClass]="formErrors.invalidClass('email') | async">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required formControlName="email" placeholder="name@example.com"></ion-input>
          <ion-note slot="error">{{ formErrors.controlError("email") | async }}</ion-note>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" class="ion-margin-top">Send code</ion-button>
      <div class="ion-text-center ion-padding-top">
        <a [routerLink]="['/register']" class="register">Don't have an account yet?</a>
      </div>
    </form>
  </inoby-auth-card>
</inoby-auth-layout>
